* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #111111;
    background-image: url('../imagens/fundo.jpg');
    background-size: cover;
}

h1 {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #222222;
}

#container_geral {
    width: 100%;
    height: inherit;
}

#titulo {
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 30px;
    background-color: #fff;
    opacity: 0.8;
    text-align: center;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(127,0,0,1);
    -moz-box-shadow: 0px 0px 6px 0px rgba(127,0,0,1);
    box-shadow: 0px 0px 6px 0px rgba(127,0,0,1);
}

#programa {
    height: auto;
    overflow: auto;
    padding: 10px;
    margin-top: 30px;
    margin: 0 auto;
    background-color: #fff;
    opacity: 0.9;
    text-align: center;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(127,0,0,1);
    -moz-box-shadow: 0px 0px 6px 0px rgb(37, 12, 12);
    box-shadow: 0px 0px 6px 0px rgba(127,0,0,1);
}

#container_form {
    width: 40%;
    height: auto;
    margin: 10px;
    padding: 10px;
    float: left;
}

#container_result {
    width: 50%;
    height: auto;
    margin: 10px;
    padding: 10px;
    float: right;
}

input[type="text"] {
    font-size: 20px;
    border: solid 1px #111111;
    border-radius: 5px;
    margin: 10px;
}